:root {
  --primary-color: #055a05;
  --secondary-color: #f4a261;
  --accent1-color: #264653;
  --accent2-color: #e9c46a;

  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 1rem 2rem;
}

header, main, footer {
    max-width: 950px;
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    gap: 1.5rem;
    align-items: center;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
    width: 30px;
    height: auto;
    display: flex;
    gap: 15px
}
.hero{
    position: relative;
}

.hero article{
    position: absolute;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 200px;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
article{
    position: absolute;

}

.hero article img {
    float: right;
    width: 125px;
    border: 2px solid #fff;
    margin: auto;
}

footer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 30px;   
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    
}
