* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: darkblue;
    --text-light: white;
    --text-dark: #333;
    --border-color: #000;
    --shadow-color: gray;
    --background-light: #eee;

    --img-small: 150px;
    --img-medium: 200px;

    --aside-width: 20rem;
    --spacing: 1rem;

    --box-shadow: 0 0 30px var(--shadow-color);
}

main {
    max-width: 840px;
}

main img {
    width: var(--img-small);
    height: auto;
    float: right;
    margin: 0 0 1rem 1rem;
}
body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}
p {
    margin: 1rem;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: var(--text-light);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

img {
    width: var(--img-small);
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: var(--box-shadow);
}

p {
    padding: 0;
}

aside {
    width: var(--aside-width);
    margin: var(--spacing);
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: var(--spacing);
    background-color: var(--background-light);
    color: var(--text-dark);
    text-align: center;
    position: relative;
}

aside img {
    width: var(--img-medium);
    height: auto;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 260px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--border-color);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border:  1px solid rgba(0,0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}