* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
--color: darkblue;
--padding: 20px;
--text-align: center;
}

header, .grid, footer {
  max-width: 840px;
  margin: 0 auto;
}

.grid {
  display: grid;
  align-items: center;
}

main{
    max-width: 840px;
    grid-column: 2/3;
    margin: 1rem;
}

nav{
    background-color: var(--color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: var(--padding);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff
}

h1{
    color: var(--color);
    border-bottom: #eee;
}

img{
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p{
    padding: 0;
}

aside{
    width: 20rem;
    background-color: #eee;
    color: #333;
    text-align: var(--text-align);
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img{
    width: 200px;
    height: auto;
}

aside h2 {
  position: relative;
  top: 47px;
  left: 150px;
}

main img {
    width: 150px;
    height: auto;
    border: #000;
    padding: 1rem;
    box-shadow: none;
    float: right;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-align);
}
/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}